body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:240px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:240px;
}
#u2 {
  position:absolute;
  left:2px;
  top:112px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:117px;
  top:100px;
  width:176px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
